/* ORGANIZATION */
* {
  box-sizing: border-box;
}

body {
  background-color: #071a52;
  margin: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* Night Mode */

.night-mode {
  margin: 100px auto 100px auto;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  transition: 0.4s linear;
  width: 12%;
  height: 10%;
}

body.dark {
  background-color: #000000;
}

body.dark .mynameFont {
  color: orange;
  font-family: "Creepster", cursive;
}

body.dark .linkFont {
  color: white;
  font-family: "Cinzel", serif;
}

body.dark .XFont {
  color: white;
  font-family: "Cinzel", serif;
}

body.dark .GitHubFont {
  color: white;
  font-family: "Cinzel", serif;
}
body.dark .undernameFont {
  color: white;
  font-family: "Cinzel", serif;
}

body.dark .middleP {
  color: white;
  font-family: "Cinzel", serif;
}

body.dark .aboutFont {
  color: white;
  font-family: "Cinzel", serif;
}

body.dark .middleH {
  color: orange;
  font-family: "Creepster", cursive;
}

body.dark .headerFont {
  color: orange;
  font-family: "Creepster", cursive;
}

body.dark .contactFont {
  color: orange;
  font-family: "Creepster", cursive;
}

body.dark .btn {
  background-color: #301b3f;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.label {
  background-color: grey;
  align-items: center;
  display: flex;
  border-radius: 50px;
  height: 26px;
  padding: 5px;
  width: 50px;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
}

.fa-lightbulb {
  color: white;
}

.fa-ghost {
  color: white;
}

.ball {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.1s linear;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

h2 {
  text-align: center;
}

p {
  line-height: 2;
}

hr {
  border: dotted #086972 6px;
  border-bottom: none;
  width: 1%;
  margin: 100px auto;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding: 18px;
  background-color: #7fcd91;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #7fcd91 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #030101 0;
  background: #7fcd91;
  background-image: -webkit-linear-gradient(top, #7fcd91, #4d4646);
  background-image: -moz-linear-gradient(top, #7fcd91, #4d4646);
  background-image: -ms-linear-gradient(top, #7fcd91, #4d4646);
  background-image: -o-linear-gradient(top, #7fcd91, #4d4646);
  background-image: -webkit-gradient(to bottom, #7fcd91, #4d4646);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/*  CONTAINERS */

.top-container {
  text-align: center;
  padding-top: 150px;
  position: relative;
}

.middle-container {
  text-align: center;
  line-height: 2;
  padding-top: 7%;
}

.bottom-container {
  padding: 50px 0 20px;
}

/* SITE ART */

.top-cloud {
  position: absolute;
  right: 25%;
  top: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.mountain {
  width: 17%;
  padding-bottom: 13%;
}

/* PHOTOS */

.selfie {
  border-radius: 30%;
  width: 15%;
  margin-right: 30px;
  padding-bottom: 2%;
}

.pythonPic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.webdevPic {
  width: 25%;
  float: right;
  margin: 30px;
}

.languagePic {
  width: 25%;
  float: left;
  margin: 30px;
}

.gitPic {
  width: 25%;
  float: right;
  margin: 30px;
}

.avatar {
  width: 65px;
}

/* FONTS */

.mynameFont {
  font-family: "Dancing Script", cursive;
  color: #a7ff83;
  font-size: 520%;
  margin-top: 0;
}

.undernameFont {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 120%;
}

.middleH {
  font-family: "Dancing Script", cursive;
  color: #a7ff83;
  font-size: 70px;
}

.middleP {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 100%;
  width: 90%;
  margin: auto;
  padding-bottom: 10%;
}

.skillsFont {
  font-family: "Dancing Script", cursive;
  color: #a7ff83;
  font-size: 70px;
}

/* Carousel Fonts */

.headerFont {
  font-family: "Dancing Script", cursive;
  color: #a7ff83;
  font-size: 70px;
}

.aboutFont {
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* Contact Font */

.contactFont {
  font-family: "Dancing Script", cursive;
  color: #a7ff83;
  font-size: 70px;
  padding-bottom: 3%;
}

.XFont {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 13px;
}

.underXFont {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
}

.copyrightFont {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.75rem;
  padding-bottom: 5%;
}

.footerlink {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.linkFont {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: auto 20px;
  text-decoration: none;
  font-size: 25px;
}

.linkFont:hover {
  color: #a7ff83;
}

.GitHubFont {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: auto 20px;
  text-decoration: none;
  font-size: 25px;
}

.GitHubFont:hover {
  color: #a7ff83;
}

/* New */

.navbar {
  padding: 1.5% 1.5% 4.5rem;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3%;
}

.nav-item {
  padding: 0 16px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

#skls {
  text-align: center;
  color: white;
  padding-bottom: 10%;
  padding-top: 7%;
}

.skls-image {
  width: 13%;
  margin: 20px;
}
